<div id="root"></div>

<div class="row">
  <form class="col s12">
    <div class="card-panel hoverable">
      <h4>Add Link</h4>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">web</i>
          <input id="link" type="url" class="validate">
          <label for="link">Link</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">label</i>
          <input id="title" type="text" class="validate">
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">person_pin</i>
          <input id="author" type="text" class="validate">
          <label for="author">Author</label>
        </div>
      </div>

      <div class="row">
        <button type="submit" class="btn-floating btn-large waves-effect waves-light green right">
          <i class="material-icons">add</i>
        </a>
      </div>
    </div>
  </form>
</div>


<div class="row">
  <div class="card-panel hoverable">
    <nav>
      <form>
        <div class="input-field grey lighten-1">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </nav>

    <ul class="collection">

      <li class="collection-item"><div>Link one<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>Link two<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>Link Three<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>Link 4<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    </ul>

  </div>
</div>
