<div id="root"></div>

<div class="row">
  <div class="card-panel hoverable">
    <nav>
      <form>
        <div class="input-field grey lighten-1">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </nav>

    <ul class="collection">

      <li class="collection-item"><div>Link one<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>Link two<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>Link Three<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>Link 4<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    </ul>

  </div>
</div>
